*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "averta cy w10";
}
*::selection{
    color: white;
    background-color: black;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    background-color: white;
}
#home{
    width: 100%;
    min-height: 100vh;

}
#nav{
    width: 100%;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    width: 100px;
}
#nav a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    letter-spacing: 0.3px;
    font-size: 1vw;
}
#nav #right{
    display: flex;
    align-items: center;
    gap: 40px;
}
#nav i{
    font-weight: 400;
    font-size: 20px;
    margin-top: 3px;
}
#home #homemain{
    width: 100%;
    /* background-color: crimson; */
    padding: 13vw 15vw;
}
#homemain h2{
    font-weight: 500;
    font-size: 1.5vw;
    letter-spacing: -.1vw;
}
.headings{
    display: flex;
    gap: 40px;
}
.headings h1{
    font-size: 5vw;
    font-weight: 900;
    letter-spacing: -3px;
    line-height: 1;
    color: transparent;
    -webkit-text-stroke: 1px black;
}
#homemain .headings h1:hover {
    color: #000;
}
#homelast{
    padding: 5vw 15vw;
}
#homelast p{
    font-size: 1.2vw;
    font-weight: 500;
    letter-spacing: -0.1vw;
    width: 50%;

}
#homelast p::selection{
    color: white;
    background-color: black;
}
#featured{
    padding: 10vw 15vw;
}
.fheading h1{
    line-height: 1;
    font-size: 4vw;
    font-weight: 400;
}
.fheading h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px black;
}
#fimages{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: 5vw;
}
#fleft{
    overflow: hidden;
    width: 45%;
    height: inherit;
    /* border:  1px solid black; */
}
.fleftelm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
    /* background-color: crimson; */
    /* border: 1px solid black; */
}
.fleftelm h1{
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1.5vw 0;
}
.fleftelm h3{
    font-size: 1.5vw;
    font-weight: 400;
}
.fleftelm h4{
    opacity: .5;
}
#fright{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    height: inherit;
}
#fright .images{
    width: 90%;
    height: 90%;
    /* background-color: chartreuse; */
}
#fright .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btndiv button{
    padding: 1.2vw 2vw;
    border-radius: 100px;
    border: 2px solid gray;
    background-color: white;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: -0.4px;
}
#dev{
    width: 100%;
    padding: 5vw 15vw;
}
#dev h1{
    font-size: 3.3vw;
    font-weight: 400;
    width: 55%;
    line-height: 1;
    
}
#dev p{
    font-size: 1.5vw;
    margin-top: 3vw;
    letter-spacing: -.5px;
    width: 60%;
}
#slides{
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
}
.slide {
    width: 30%;
    /* height: 90px;
    background-color: crimson; */
}
.slide .img {
    width: 100%;
    height: 270px;
    overflow: hidden;
    border-radius: 10px;
    background-color: yellow;
}
.slide .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide .tag {
    margin: 20px;
    padding: 10px 20px;
    width: fit-content;
    background-color: #e9e7e7;
    border-radius: 100px;
    text-align: center;
}
.slide h3{
    font-size: 1.4vw;
    font-weight: 400;
    letter-spacing: -0.5px;
}